<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <!-- <div class="container"> -->
    <div class="navbar-header">
      <a class="navbar-brand"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <button class="navButtonLeft" ng-click="home.homePage()">Michael McClure</button>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div class="navButtonRight">
          <span class="dropdown" is-open="home.toggleDropdown">
            <a href class="dropdown-toggle">Navigation<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a ng-click="home.aboutMe()">About Me</a></li>
              <li class="divider"></li>
              <li><a ng-click="home.portfolio()">My Portfolio!</a></li>
              <li><a ng-click="home.contactMe()">Contact Me</a></li>
            </ul>
          </span>
        </div>
      </ul>
    </div>
  </div>
</nav><br/><br/><br/>

<div id="construction">
  <p>My site is temporarily under construction</p>
  <p>But, while you're waiting,</p>
  <p>please visit a couple of my current projects</p>
  <br/><br><br>
  <a href="">Gifter</a><br>
  <a href="">Halloween Hangman</a>

</div>



















