<nav class="navbar navbar-default navbar-fixed-top">
    <div class=" navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <button id="navButtonLeft" ng-click="home.homePage()">Michael McClure</button>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div id="navDropRight" class="dropdown" is-open="home.toggleDropdown">
          <a href class="dropdown-toggle">Navigation<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-click="home.aboutMe()">About Me</a></li>
            <li class="divider"></li>
            <li><a ng-click="home.portfolio()">My Portfolio!</a></li>
            <li><a ng-click="home.contactMe()">Contact Me</a></li>
          </ul>
        </div>
      </ul>
    </div>
    <div style="text-align:center;">
      <div id="name">Michael McClure</div>
    </div>
  </div>
</nav><br/><br/><br/>

<div id="construction">
  <p>My site is temporarily under construction</p>
  <p>But, while you're waiting, please visit a couple of my current projects:</p>
  <br><br><br>

  <a href="http://gifter-giftexchange.herokuapp.com/">Gifter</a><br>
  <p class="description">-a web app for facilitating gift exchanges within groups
    <a href="https://github.com/SalamanderMike/gifter">git</a>
  </p>

  <a href="http://halloween-hangman.herokuapp.com/">Halloween Hangman</a>
  <p class="description">-classic hangman game with a seasonal twist</p>
  <p class="description">iPad ready!
    <a href="https://github.com/SalamanderMike/halloween_hangman">git</a>
  </p>
</div>



















