html {
  background: url(jupiter_backdrop.jpg) no-repeat scroll right top #000;
  height: 100%;
}
body {
background: transparent;
}

/* NAVBAR **********************************************************/
.navbar-default {
  background: #000;
  color: #0074ad;
  border: 1px solid #424242;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

.navbar-default .navbar-nav .dropdown-menu{
  background: transparent;
  top: 2.25em;
  right: -0.5em;
  padding: 10px;
}

#navButtonLeft {
  position: absolute;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 0px;
  font-size: 1em;
  cursor: pointer;
}

#navDropRight {
  position: absolute;
  background: transparent;
  top: 7px;
  right: 20px;
  border: 0px;
  font-size: 1em;
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  display: block;
  top: 2.25em;
  right: -0.5em;
  padding: 10px;
  background: rgba(0,0,0,0.25);
  color:#0074ad;
}

.dropdown:focus .dropdown-menu {
  display: block;
  top: 2.25em;
  right: -0.5em;
  padding: 10px;
  background: rgba(0,0,0,0.25);
  color:#0074ad;
}

.navbar-default .navbar-nav .dropdown-menu li a {
  color:#2db5cd;
}

.dropdown-menu li a:hover {
  background:rgba(0,0,0,0.35);
}

.dropdown .divider {
  background: #d18400;
}

#name {
  position: relative;
  visibility: hidden;
  top: 5px;
}

/* UNDER CONSTRUCTION -TEMPORARY ************************************/
#construction {
  position: relative;
  color: transparent;
  text-align: center;
}

#construction p{
  color: #e8e8e8;
  font-size: 2em;
}
#construction a{
  color: #2db5cd;
  font-size: 2em;
}
#construction a:active {
  color: #d18400;
  font-size: 1.5em;
}

#construction .description{

  font-size: 1em;
}
#construction p a{
  font-size: 1em;
  font-style: underline;
}


/* IPHONE READY **********************************************************/
@media (max-width: 768px) {
  html {
    background: url(jupiter_backdrop.jpg) no-repeat scroll right top #000;
    -webkit-background-size: 50% 100%;
  }
  #name {
    visibility: visible;
  }
  #construction p{
    color: #d18400;
    font-size: 4em;
  }

}


/* CONTAINERS **********************************************************/

#wrap {


}

.container {


}

